.table{
    
    display: flex;
    align-items: center;
    justify-content: center;
}

.table table{
    width: 70vw;
    
}

.table td, th {
    text-align: left;
    padding-left: 5px;
}

table {
    border: 1px solid black;
    border-radius: 5px;
}

table th {
    font-size: 20px;
    border-bottom: 1px solid black;
    height: 50px;
}

table tbody{
    background-color: rgb(238, 238, 238);
}



table td{
    height: 50px;
    transition: .5s;
}

table tbody tr:hover{
    background-color: rgb(223, 222, 222);
    cursor: pointer;

}

table thead th:nth-last-child(1){
    transition: .3s;
}

table thead th:nth-last-child(1):hover{
    cursor: pointer;
    font-weight: 600;
    background-color: rgb(190, 189, 189);
}


@media screen and (max-width: 425px){
    .table table{
        width: 98%;
    }

    table thead th:nth-child(2), table tbody td:nth-child(2){
        display: none;
    }
}

@media screen and (max-width: 768px){
    .table table{
        width: 98%;
    }


}

@media screen and (max-width: 1024){

}